In [4]:
import pandas
from RandomsGen_1 import generate_data_set, save_data_set
from RandomsDataSet_0 import load_data_set

Generate, and serialize new set of 200 random numbers, in the range 1, 300, inclusive

In [5]:
raw_data = generate_data_set(200, 1, 300)
save_data_set(raw_data, "dataset2.txt")

Load the raw random numbers into a dataset and create a pandas data frame from it

In [155]:
data_set = list(load_data_set("dataset2.txt").values())
df = pandas.DataFrame({
    "value": [obj.get_value() for obj in data_set],
    "count": [obj.get_count() for obj in data_set],
    "instance" : data_set
})

Basic pandas operation: determine which random has the maximum number of occurrences
and the indexes where the largest random number was generated.

In [156]:
maxCountRow = df.loc[df["count"].idxmax()]
print(f'most frequent random: {maxCountRow["value"]} occurred {maxCountRow["count"]} times, at indexes {maxCountRow["instance"].get_indexes()[:5]}...')
maxValueRow = df.loc[df["value"].idxmax()]
print(f'largest random {maxValueRow["value"]} generated at indices: {maxValueRow["instance"].get_indexes()[:5]}...')

most frequent random: 4 occurred 4 times, at indexes [2, 111, 128, 163]...
largest random 298 generated at indices: [88]...

Create another small data frame associating the names "unique" and "double" to the values 1 and 2.
Then join this data frame with the data frame contiaing the randoms such that randoms with one
occurrence are labeled with "unique", and the ones with two occurrences are labeled with "double". 
The other randoms are left un-labeled.
Then filter and display the randoms with only "unique" and "double" name.

In [157]:
nf = pandas.DataFrame({
    "count" : [1, 2],
    "name": ["unique", "double"]})

jf = pandas.merge(df, nf, on = "count", how = "outer")
fjf = jf[jf["name"].notna()]
print(jf)

     value  count                                 instance    name
0      179      1                179 : 1 occurrences @ [4]  unique
1       21      1                 21 : 1 occurrences @ [5]  unique
2       60      1                 60 : 1 occurrences @ [6]  unique
3      229      1                229 : 1 occurrences @ [8]  unique
4      277      1                277 : 1 occurrences @ [9]  unique
..     ...    ...                                      ...     ...
139    164      3     164 : 3 occurrences @ [58, 130, 147]     NaN
140     45      3      45 : 3 occurrences @ [76, 102, 133]     NaN
141      4      4   4 : 4 occurrences @ [2, 111, 128, 163]     NaN
142     70      4    70 : 4 occurrences @ [7, 11, 33, 193]     NaN
143    116      4  116 : 4 occurrences @ [13, 84, 92, 123]     NaN

[144 rows x 4 columns]

Group the rows in the dataframe by their name, and count the rows in each group

In [152]:
gjf = jf.groupby("name", dropna=False).size()
print(gjf)

name
double     38
unique    102
NaN         7
dtype: int64